

<div class="container contentIndex">
  <div class="row">
    <div class="col-sm-6">
      <h1 id='contentsTitle'>Contents</h1>
      </div>
    <a href="/contents/new"><button class="btn-1" style="float: right;">Create New Content</button></a>
    </div>
    <div class="row1" >
      <% @contents.each do |content| %>
      <%=link_to content do %>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail contents">
          <%= image_tag content.image.url %>
        </div>
        <div class="description" style="color:#33995C">
          <%= content.description %>
        </div>
      </div>
      <% end %>
      <% end %>
</div>
</div>
