<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navigation">
    <div class="container">
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <% if user_signed_in? %>
            <li role="presentation"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <li role="presentation"><a href="/orders">View Orders</a></li>
        
            <% else %>
            <li role="presentation"><a href="/users/sign_in">Login</a></li>
            <li role="presentation"><a href="/users/sign_up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</nav>
