
<h3><%= @outlet_produces.sort_by {|k| k['outlet_id']}.inspect %> </h3>

<% @orders.each do |order| %>
<h4><%= order.inspect %></h4>
<% end %>

<%= react_component 'PlaceOrders', { data: @outlet_produces, orders: @orders, order_summary: @order_summary, current_user: current_user } %>
