// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-5 {
  margin-top: 50px;
  padding: 0 10px;
  height: 100px;
  align-items: left;
}
.col-md-3 {
  margin-top: 50px;
  padding: 0 10px;
  height: 100px;
  align-items: left;
}
.editDeleteBtn {
  display: inline-block;
  float: left;
}
.container{
  margin-top:570px;
}
